.bienvenido{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.codigoQR{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}