<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="titulo"><h3>Inicio Sesion</h3></div>
  <div class="Contenido">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="botones">
      <ion-button expand="block" color="success" routerLink="/inicio">Iniciar Sesion</ion-button>
      <ion-button expand="block" color="warning" routerLink="/recuperar-pass">Recuperar Contraseña</ion-button>
    </div>
  </div>
</ion-content>